nav{
    background-color: black;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
   display: inline;
}
nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rgb(50, 52, 52);
    border-radius: 5px;
}